
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    font-family: 'Secular One', sans-serif;
}

.main-image{
    background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/08/24/15/lead.jpg");
    width: 100vw;
    height: 70vw;
    background-size: 100vw;
}
.white{
font-size: 7vw;
}

.blackline{
    background-color: black;
    width: 100vw;
    height: 5vw;
}
img{
    width: 100vw;
}
p{
    font-size: 5vw;
}
h1{
    font-size: 7vw;
}
h2{
    font-size: 6vw;
    
}
.button-3d {
    width: fit-content;
    height: 10vw;  
    margin-right: -3vw;
    background-color: turquoise;
    font-size: 6vw;
    color: white;
}

.button-3d:active{
    background-color: white;
    color: turquoise;
}
.button-3d:focus{
    border-color: black;
}
.intro{
    width: fit-content;
    height: 10vw;  
    margin-left: 2vw;
    margin-top: 10vw;
    background-color: white;
}
.striped-shadow {
    background:  repeating-linear-gradient(
  135deg,
  white,
  white 1vw,
  black 1vw,
  black 2vw
);
    width: 40vw;
    height: 12vw;
}
.striped-shadow2 {
    background:  repeating-linear-gradient(
  135deg,
  white,
  white 1vw,
  black 1vw,
  black 2vw
);
    width: 32vw;
    height: 12vw;
}
.padding{
    width: 20vw;
    height: 55vw;
}

</style><center>
<header class="white"><h1>HERITAGE PORTRAITS</h1></header>
<header class="blackline"></header>

<body>
    <div class="main-image">
        <div class="padding"></div>
    <div class="striped-shadow"><h1  align="left" class="intro">Photoshoot</h1></div>
<h2>Dear Athena,</h2> 
<p>Friendly reminder, your Heritage portraits <bold><u>$750 Gift Card</u></bold>
booking expiry date is coming up on 20th of January.</p>

<p>This means to make a photoshoot booking for March-April 2021 you must contact
    us before the expiry day.
</p>

<p>The studio has very limited spots and is filling fast so to get the best 
    availability
</p>
<div class="striped-shadow2"><button class="button-3d">Book Now</button></div>
</div>
</body>
</center>

